$max-width: 720px;

$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$inconsolata: 'Inconsolata', monospace;

$dark-gray: #222;
$light-gray: #f5f5f5;

$purple: #967adc;

$brand-color: $purple;
