@charset "UTF-8";
@import "bourbon/bourbon";
@import "neat/neat";
// @import "base/base";
@import "variables";
@import "reset";
@import "monokai";
@import "monokai-custom";

body {
	background: $light-gray;
	font-family: $open-sans;
	line-height: 1.75;
	letter-spacing: 0.05em;
}

a {
	color: $brand-color;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

pre {
	line-height: 1;
	padding: 1em;

	code {
		background: #000;
		color: #fff;
		line-height: 1.5;
	}
}

code {
	background: #e6e9ed;
	border-radius: 2px;
	display: inline-block;
	font-family: $inconsolata;
	padding: 0 .3em;
	line-height: 1.5;
}

.highlight {
	background: #000;
	border-radius: 4px;
}

.hero {
	// background: linear-gradient(141deg, #333 0%, #222 71%, #111 100%);
	background: radial-gradient(#333, #222) repeat scroll 0 0;
	color: #ddd;
	padding: 80px 20px 120px;

	.logo {
		padding: 20px;
		text-align: center;
	}

	.copy {
		margin: auto;
		max-width: 330px;
		text-align: center;
		text-shadow: 0 1px 5px rgba(#000, .75);
	}

	.badges {
		margin-top: 30px;
		text-align: center;

		.fb_iframe_widget span {
			vertical-align: top !important;
		}

		.twitter-share-button,
		.twitter-follow-button {
			vertical-align: top;
		}

		> li {
			display: inline-block;

		}
	}
}

.footer {
	background: #222;
	color: #ddd;
	font-size: 14px;
	font-weight: 300;
	padding: 1em;
	text-align: center;
}

.quick-start {
	@include position(absolute, auto 0 auto 0);
	background: #000;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(#000, .75);
	margin: 40px auto;
	overflow: hidden;
	width: 480px;

	.quick-start-header {
		background: #ddd;
		color: #444;
		text-align: center;
		text-shadow: 0 1px 0 #fff;
	}
}

.main {
	box-shadow: 0 0 15px rgba(#000, 1);
	padding: 120px 20px;
}

.docs {
	@include outer-container;
	color: #333;

	h1 {
		font-size: 60px;
		font-weight: 300;
	}

	h2 {
		font-size: 48px;
		font-weight: 300;
		margin-top: 1em;
	}

	h3 {
		font-size: 36px;
		font-weight: 300;
		margin-top: 1em;
	}

	h4 {
		font-size: 28px;
		font-weight: 300;
		margin-top: 1em;
	}

	p {
		margin: .75em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #000;

		+ h1, + h2, + h3, + h4, + h5, + h6, + p {
			margin-top: 0;
		}
	}
}