@charset "UTF-8";
@import "bourbon/bourbon";
@import "neat/neat";
// @import "base/base";
@import "variables";
@import "reset";
@import "monokai";
@import "monokai-custom";

body {
	background: $light-gray;
	font-family: $open-sans;
	line-height: 1.75;
	letter-spacing: 0.05em;
}

pre {
	font-family: $inconsolata;
	line-height: 1;
	padding: 1em;

	code {
		background: #000;
		color: #fff;
		line-height: 1.5;
	}
}

.hero {
	// background: linear-gradient(141deg, #333 0%, #222 71%, #111 100%);
	background: radial-gradient(#333, #222) repeat scroll 0 0;
	color: #ddd;
	padding: 80px 20px 120px;

	.logo {
		padding: 20px;
		text-align: center;
	}

	.copy {
		margin: auto;
		max-width: 330px;
		text-align: center;
		text-shadow: 0 1px 5px rgba(#000, .75);
	}

	.badges {
		margin-top: 20px;
		text-align: center;

		.fb_iframe_widget span {
			vertical-align: top !important;
		}

		.twitter-share-button,
		.twitter-follow-button {
			vertical-align: top;
		}

		> li {
			display: inline-block;

		}
	}
}

.quick-start {
	@include position(absolute, auto 0 auto 0);
	background: #000;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(#000, .75);
	margin: 40px auto;
	overflow: hidden;
	width: 480px;

	.quick-start-header {
		background: #ddd;
		color: #444;
		text-align: center;
		text-shadow: 0 1px 0 #fff;
	}
}

.docs {
	@include outer-container;
	padding-top: 120px;

	h1 {
		font-size: 48px;
		font-family: $open-sans;
		font-weight: 300;
	}
}