<div class="hero">

	<h1 class="logo">
		<a href="{{ '/' | prepend: site.baseurl }}">
			<img src="{{ 'frasco-logo.svg' | prepend: '/assets/images/' | prepend: site.baseurl }}" alt="Frasco">
		</a>
	</h1>

	<p class="copy">{{ site.description }}</p>

	<ul class="badges">
		<li><a href="https://github.com/ixkaito/frasco/releases"><img alt="GitHub release" src="https://img.shields.io/github/release/ixkaito/frasco.svg"></a></li>
		<li><a href="https://travis-ci.org/ixkaito/frasco"><img alt="Build Status" src="https://travis-ci.org/ixkaito/frasco.svg?branch=master"></a></li>
		<li><a href="https://github.com/ixkaito/frasco/blob/master/LICENSE"><img alt="license" src="https://img.shields.io/github/license/ixkaito/frasco.svg?maxAge=2592000"></a></li>
		<li><a class="github-button" href="https://github.com/ixkaito/frasco" data-show-count="true" aria-label="Star ixkaito/frasco on GitHub">Star</a></li>
		<li><a class="github-button" href="https://github.com/ixkaito/frasco/fork" data-show-count="true" aria-label="Fork ixkaito/frasco on GitHub">Fork</a></li>
		<li><a class="github-button" href="https://github.com/ixkaito" data-show-count="true" aria-label="Follow @ixkaito on GitHub">Follow Me</a></li><br class="desktop">
		<li><div class="fb-like" data-href="{{ site.url }}{{ site.baseurl }}/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></li>
		<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ site.baseurl }}">Tweet</a></li>
		<li><a href="https://twitter.com/ixkaito" class="twitter-follow-button" data-show-count="false">Follow Me</a></li>
		<li><a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en" data-save-url="{{ site.url }}{{ site.baseurl }}"></a></li>
	</ul>

	<div class="quick-start">
		<div class="quick-start-header">
			<h2>Quick-start Instructions</h2>
		</div>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="gp">$ </span>git clone https://github.com/ixkaito/frasco.git
<span class="gp">$ </span><span class="nb">cd </span>frasco
<span class="gp">$ </span>npm install
<span class="gp">$ </span>npm start
</code></pre>
</div>

	</div>
</div>
